h1 {
    font-family: 'Console', Monaco, monospace;
}

p {
    font-family: 'Console', Monaco, monospace; font-size: 22px;
}

button {
    font-family: 'Console', Monaco, monospace;
}

body {
    font-family: 'Console', Monaco, monospace;
    margin-top: 100px; 
    margin-left: 100px;  
    margin-right: 100px;  
    margin-bottom: 100px;  
    background-color: rgb(230, 230, 230);
}


input[type=radio] {
    border: 0px;
    width: 22px;
    height: 22px;
}
